
<h1 [style]="s">Property Binding</h1>
<hoang></hoang>
<!-- {{10+1}} -->
<br>
<h3 style="margin-top: 60px;">Two-way Binding</h3>

<input type="text" [(ngModel)]= "message"/> 
<br/>
Input: {{message}}
<br/>

<h-app (childEvent)="title=$event" [parentData]="title"></h-app>